@import '/media/stylesheets/reset.css';

body {
    margin: 30px;
    font-family: Verdana, Tahoma, Sans-Serif;
    font-size: 80%;
	background: url('/media/images/background.png') repeat-x 0 0;
}

#clear {
	clear:both;
	display:block;
	font-size:1px;
	height:1px;
	line-height:1px;
	margin-bottom:-1px;
}

#header {
	height: 65px;
	width: 100%;
	padding-bottom: 20px
}

#header a {
    float: left;
}

#header img {
    max-width: 100%;
}

#slogan {
    float: right;
    text-align: center;
    margin-right: 25px;
}

.facebook {
    margin-right: 0 !important;
}

#slogan .button {
    margin: 15px 40px 15px 0;
    display: block;
    float: left;
}

#content p {
    margin: 20px 10px;
}

#keyword_tool p {
    margin: 15px;
    line-height: 18px;
}

#keyword_tool h2 {
    font-size: 130%;
    font-weight: bold;
    margin: 10px;
}

#keyword_tool li {
    margin: 10px 0 10px 30px;
}

#cats {
	text-align: center;
}

#cats li {
	display: inline;
	list-style-type: none;
	padding-right: 8px;
	padding-left: 8px;
    line-height: 25px;
}

#cats li.end {
	background-image: none;
}

#cats a, #cats a:visited {
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 2px;
}

#cats a:hover {
	border-bottom: 2px solid #98cd3c;
}

.category_header {
    padding: 5px 10px;
    background-color: #f1fed6;
    border-top: 2px solid #dbecb4;
    border-bottom: 2px solid #dbecb4;
}

.category_header.alt {
    background-color: #e3f4fc;
    border-top: 2px solid #d2e3eb;
    border-bottom: 2px solid #d2e3eb;
}

.category_header h1, .category_header, h2 {
    font-size: 21px;
    line-height: 30px;
}

.category_header span {
    font-size: 13px;
    line-height: 16px;
    display: block;
    padding: 5px 0;
    color: #666;
}

#categories {
    padding: 10px 0 30px;
}

.section { padding: 20px; }

.section .hide {
    display: none;
}

#site {
	width: 100%;
	padding-bottom: 15px;
}

.section a, .section a:visited {
	color: #000;
	text-decoration: none;
	font-size: 1.3em;
}

.section a:hover {
	text-decoration: underline;
	color: #6e9399;
}

.section span {
	font-size: 0.9em;
	color: #808080;
}

.description {
    line-height: 2em;
}

.section div.stars {
	float: left;
	height: 18px;
	width: 91px;
	background: transparent url('/media/images/stars.png') no-repeat 0 0;
	padding-right: 15px;
}
.section div.two { background-position: 0 -18px; }
.section div.three { background-position: 0 -36px; }
.section div.four { background-position: 0 -54px; }
.section div.five { background-position: 0 -72px; }

a {
	text-decoration: underline;
	color: #0a74db;
}
a:hover, a:active {
	text-decoration: underline;
	color: #41a0ff;
}

a.button {
    background: transparent url('/media/images/button.png') repeat-x scroll top left; 
	display: block;
	float: left;
	height: 28px;
	line-height: 28px;
	margin-left: 19px;
	margin-bottom: 25px;
	text-decoration: none;
	color: #666666;
	text-indent: 15px;
	font-weight: bold;
	text-shadow: 1px 1px 0px #FFF;
}
a.button span {
	background: transparent url('/media/images/button.png') no-repeat 100% -28px; 
	display: block;
	line-height: 28px;
	padding-right: 15px;
} 
a.button:hover  {
	background-position: left -56px;
}
a.button:hover span {
	background-position: 100% -84px;
}




p {
	line-height: 1.1em;
}	

#intro {
    font-size: 140%;
    line-height: 32px;
    color: #333;
}

#intro .hilight {
    color: #000;
}

#intro .hilight em {
    font-style: italic;
}



#share {
    color: #073f4a;
    font-size: 180%;
    padding-bottom: 10px;
}

#like table td {
    vertical-align: top;
    padding: 0 25px;
}

#footer {
    margin-top: 65px;
    color: #444;
}

#search_results {
    margin: 0 auto;
}

.domain {
    float: left;
    font-size: 170%;
    margin: 10px;
}

.affix {
    font-weight: bold;
}

#continue {
    display: none;
}

#loading {
    display: none;
}

.bubble {
    font-size: 115%;
    background: #d7ebf9;
    border: 1px solid #62bbe8;
    display: block;
    padding: 20px;
    width: 50%;
    text-align: center;
    margin: 75px auto;
    font-weight: bold;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}


#loading img {
    padding-right: 10px;
}

#finished {
    display: none;
}

#continue a {
    font-size: 140%;
}

.header {
	font-size: 1.7em;
	background: transparent url('http://domaingroovy.com/media/images/header-green.png') repeat-x 0 -136px;
	height: 68px;
	text-indent: 7px;
	line-height: 2em;
}

.header span {
	font-size: 0.6em;
	color: #636c50;
	line-height: 0.5em;
	padding-left: 7px;
    display: block;
}

#id_keyword {
    font-size: 200%;
    margin: 0 5px;
}

#search_form label {
    font-size: 150%;
}

.search_form {
    margin: 25px;
}

.domain {
    padding: 10px;
    width: 250px;
    overflow: hidden;
}

.domain .length { display: none; }
.domain .priority { display: none; }
.domain .clean_affix { display: none; }
.domain .domain_id { display: none; }


.prefix {
    float: left;
}

.suffix {
    float: right;
}

#search_options {
    margin: 20px;
    width: 100%;
}

#search_options td {
    width: 50%;
    padding: 10px 0;
}

#search_options th {
    text-align: right;
    padding: 10px 15px;
}

#search_options .label {
    font-weight: bold;
    font-size: 120%;
}

#available_domains {
    width: 100%;
    font-size: 110%;
    margin: 10px;
}

#available_domains td {
    width: 20%;
    padding: 3px;
}

.new {
    background: #1aceea;
    color: #fff !important;
    padding: 1px 7px;
    margin-left: 7x;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#download_button {
    display: block;
    font-size: 250%;
    margin: 20px;
}

#available_domains h2 {
    font-weight: bold;
    font-size: 150%;
    margin: 0 0 5px;
    font-weight: normal;
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    letter-spacing: 0.01em;

}

#available_domains p { 
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
    letter-spacing: 0.01em;
    margin: 0;
    color: #555555;
    font-size: 90%;
    line-height: 135%
}

#available_domains .right p {
    margin: 0 0 13px;
}
    

.left {
    float: left;
    width: 49%;
}

.right {
    float: right;
    width: 49%;
}

#paypal {
    padding-top: 10px;
}

.domainfinder_ad {
    float: right;
    width: 350px;
    margin: 0 15px;
    background: #fafafa;
    border: 1px solid #efefef;
    text-align: center;
}

.domainfinder_ad p {
    text-align: left;
}

#primary {
    float: left;
    width: 75%;
}

#sponsored_results {
    float: right;
    width: 25%;
    background: #eee;
    margin-top: 25px;
}

#sponsored_results .inner {
  padding: 10px;
}

#sponsored_results h2 {
  font-weight: bold;
  font-size: 130%;
  text-align: center;
  margin: 5px 0;
}

#sponsored_results a {
  font-size: 120%;
  margin: 8px 0;
  display: inline-block;
}

#sponsored_results .sponsor {
  font-weight: bold;
}

#creative {
    border: 1px solid red;
    text-align: center;
    margin: 25px 0;
}

#creative img {
}

@media only screen and (max-width: 1024px) {
    body {
        margin: 10px;
    }
}

@media only screen and (max-width: 480px) {
    body {
        margin: 2px;
    }
}
